/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background: #eee;
}

#mensagem{
	padding-top: 5%;
	text-align: center;
	font-family:fantasy;
}















